:root {
    --primary-color: #51bedb;
    --secondary-color: #edc77e;
    --accent-one: #0a5e98;
    --accent-two: #f6b26b;
    --heading-font: serif;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-one);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-one);
    color: #fff;
}

h2 {
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 158px;
    width: 90;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-one);
    color: #fff;
}

.hero article img {
    float: right;
    width: 50px;
}