:root {
    --primary-color: blue;
    --secondary-color: darkred;
    --accent-one: darkblue;
    --heading-font: serif;
    --body-font: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent-one);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 15px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-one);
    color: #fff;
}

h2 {
    position: relative;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
}

.hero article {
    position: absolute;
    top: 158px;
    width: 96%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent-one);
    color: #fff;
}

.hero article img {
    float: right;
    width: 50px;
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
}

header nav {
    display: flex;
    justify-content: center;

}

header nav a {
    flex: 1;
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border: 1px solid black;
    background-color: lightgray;
}

.history div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.history p {
    flex: 1;
    text-align: left;
}

.adventure div,
.serve div {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.adventure figure,
.serve figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100px;
}

.serve div {
    justify-content: space-evenly;
}

.adventure figcaption .serve figcaption {
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-one);
    width: 100%;
    color: white;
}

footer p {
    margin: auto;
    color: white;
}

.contact-info p {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin: 0;
}

.get-in-touch {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.message-purpose {
    display: grid;
    grid-template-columns: 120px auto;
    align-items: center;
}

.message-purpose legend {
    grid-row: 1 / span 3;
    /* span all radio rows */
}

.message-purpose > div {
    margin-bottom: 6px;
}

button {
    width: 100%;
}

textarea {
    width: 100%;
}

input {
    width: 100%;
}

.message-purpose div {
    display: flex;
    width: 1rem;
}

form div {
    display: flex;
    gap: 10px;
    padding: 2px;
}

.checkbox input {
    width: 1rem;
}