* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: gray;
    color: white;
}

h1 {
    margin: .5rem;
}

form {
    background-color: white;
    color: black;
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 350px;
}

button {
    background-color: navy;
    color: white;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
}

code {
    display: block;
    background-color: black;
    color: white;
}

.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
}

.quiz-item {
    border: none;
}