* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-blue: #07518e
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-blue);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: var(--primary-blue);
    border-bottom: 2px solid --primary-blue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
    grid-column: 2/3;
}

aside {
    width: 20rem;
    border: 1px solid black;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px grey;
    float: right;
}

p {
    padding: 0;
    font-size: large;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Classs Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightgray;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}